<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookingservice">
    
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingService"
        tools:targetApi="31">
        <activity
            android:name=".View.History.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".View.InputBooking.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".View.Dashboard.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".View.LoginRegister.RegistrasiActivity"
            android:exported="false" />
        <activity
            android:name=".View.LoginRegister.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".View.Main.MainActivity"
            android:exported="true"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>